@using PersonalBlog.Data;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="col-12 col-md-8 col-lg-8 mx-auto d-flex flex-column justify-content-center align-items-center my-4">

    @foreach (int i in Enum.GetValues(typeof(PostCategory)))
    {
        <div class="card col-4">
            <a asp-controller="Post" asp-action="PostsByCategory" asp-route-id="@i" class="btn btn-success col-12 m-auto text-decoration-none text-white">
                <div class="card-body bg-success bg-opacity-25">
                    <p>@Enum.GetName(typeof(PostCategory), i)</p>
                </div>
            </a>
        </div>
    }

</div>
